@import "constant.css";

.test-border {
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.as-center {
  align-self: center;
}

.pos-fixed {
  position: fixed;
}

.float-left {
  float: left;
}

.list-style-none {
  list-style: none;
}

.h-100 {
  height: 100%;
}

.h-70 {
  height: 70%;
}

.h-40 {
  height: 40%;
}

.h-150p {
  height: 150px;
}

.h-50p {
  height: 50px;
}

.h-30p {
  height: 35px;
}

.h-header {
  height: var(--h-header);
}

.w-main {
  width: var(--w-main);
}

.w-form {
  width: var(--w-form);
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-50 {
  width: 50%;
}

.p-20p {
  padding: 20px;
}

.p-40p {
  padding: 40px;
}

.p-60p {
  padding: 60px;
}

.p-10p {
  padding: 10px;
}

.p-5p {
  padding: 5px;
}

.pt-header {
  padding-top: var(--h-header);
}

.pt-10p {
  padding-top: 10px;
}

.pt-20p {
  padding-top: 20px;
}

.pr-10p {
  padding-right: 10px;
}

.pr-20p {
  padding-right: 20px;
}

.pr-40p {
  padding-right: 70px;
}

.pb-20p {
  padding-bottom: 20px;
}

.pb-10p {
  padding-bottom: 10px;
}

.pb-5p {
  padding-bottom: 5px;
}

.m-0 {
  margin: 0;
}

.m-10p {
  margin: 10px;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.fs-43p {
  font-size: 43px;
}

.fs-20p {
  font-size: 20px;
}

.fs-16p {
  font-size: 16px;
}

.fs-13p {
  font-size: 13px;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.opacity-07 {
  opacity: 0.7;
}

.color-sec {
  color: var(--color-sec);
}

.color-alt {
  color: var(--color-alt);
}

.border-color-sec {
  border-color: var(--color-sec);
}

.border-color-alt {
  border-color: var(--color-alt);
}

.bg-color-main {
  background: var(--color-main);
}

.bg-color-sec {
  background: var(--color-sec);
}

.bg-color-sec-darker {
  background: var(--color-sec-darker);
}
