:root {
  --header-height: 70px;
  --booking-section-height: 350px;
}

.h-header {
  height: var(--header-height);
}

.pt-header {
  padding-top: var(--header-height);
}

.h-booking-section {
  height: var(--booking-section-height);
}

.button {
  background: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  border: 1px solid white;
  color: white;
  font-size: 17px;
}

.button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

.landing-text {
  font-family: sans-serif;
  font-size: 16px;
  color: #303846;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.bg-banner {
  background-image: url(../images/banner.png);
  background-position: 100% 70%;
  background-size: cover;
}
