@import "constant.css";

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

.landing-text {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--color-prim);
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: var(--w-main);
  padding: 40px 0;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--h-header);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.bg-banner {
  background-image: url(../images/banner.png);
  background-position: 100% 70%;
  background-size: cover;
}

.button {
  background: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.button-sec {
  border-color: var(--color-sec);
  color: var(--color-sec);
}

.button-alt {
  border-color: var(--color-alt);
  color: var(--color-alt);
}

.button:hover {
  cursor: pointer;
}

.field {
  display: flex;
  align-items: center;
  padding: 5px;
}

.input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px;
}

.anchor {
  display: block;
  position: relative;
  top: calc(-1 * var(--h-header));
  visibility: hidden;
}
