@import "constant.css";

a:link {
  color: var(--color-prim)
}

a:visited {
  color: var(--color-prim)
}

a:active {
  color: var(--color-prim)
}

.landing-text {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--color-prim)
}

.fullscreen-section {
  display: flex;
  align-items: center;
  width: 100%;
}

.centered-section {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 40px 0;
}

.bg-banner {
  background-image: url(../images/banner.png);
  background-position: 100% 70%;
  background-size: cover;
}

.button {
  background: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
}

.button:hover {
  cursor: pointer;
}

.field {
  display: flex;
  align-items: center;
  padding: 5px;
}

.input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px;
}
